---
interface Props {
	image: string;
	title: string;
	description: string;
	price: number;
	addToCart: () => void;
}

const { image, title, description, price, addToCart } = Astro.props;
---

<li class="product-card">
	<img src={image} alt={title} />
	<div class="details">
		<h2>{title}</h2>
		<p>{description}</p>
		<p class="price">R${price.toFixed(2)}</p>
		<button>Add to Cart</button>
	</div>
</li>

<style>
	.product-card {
		list-style: none;
		display: flex;
		padding: 1px;
		flex-direction: column;
		background-color: #f9f9f9;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		margin-bottom: 20px;
	}
	img {
		width: 150px;
		height: 150px;
		object-fit: cover;
		border-radius: 10px 0 0 10px;
	}
	.details {
		padding: 20px;
		flex: 1;
	}
	h2 {
		margin: 0;
		font-size: 1.5rem;
		color: #333;
	}
	p {
		margin: 0;
		color: #666;
	}
	.price {
		font-weight: bold;
		margin-top: 10px;
	}
	button {
		padding: 10px 20px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	button:hover {
		background-color: #0056b3;
	}
</style>
