---
import { type Produto } from "../interfaces/interfaces";
import { getProduto } from "../util/api";
import ProductCard from "./ProductCard.astro";

//
// Props
const { category = "", remove_id = null } = Astro.props;
const TAG = `category/${category}`;

//
// Processing
let data = await getProduto(category === "" ? "" : TAG);

let dataFiltro = [];
if (remove_id === null) {
	dataFiltro = data;
} else {
	data.map((item: Produto) => {
		if (item?.id !== remove_id) dataFiltro.push(item);
	});
}
---

<span class="store">
	{
		dataFiltro.map((item: Produto) => (
			<ProductCard
				count={item?.rating?.count}
				product_id={item?.id}
				image={item?.image}
				title={item?.title}
				price={item?.price}
			/>
		))
	}
</span>

<style>
	.store {
		margin: 50px 20px 50px 20px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-gap: 25px;
	}
</style>
