---
import { ViewTransitions } from "astro:transitions";
import { Cart } from "../components/Cart/index.jsx";

interface Props {
	title: string;
	description?: string;
	thumbnail?: string;
}

const { 
	title,
	description = "Sonho Real Store 👑: Loja demo",
	thumbnail = "https://raw.githubusercontent.com/LucasATS/SonhoRealStore/main/.github/preview-sd.jpg",
} = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<!-- Primary Meta Tags -->
		<link rel="shortcut icon" href="https://raw.githubusercontent.com/LucasATS/LucasATS/main/src/img/cartoon1.png" type="image/x-icon" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="theme-color" content="#FFF" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />


		<!-- APP MOBILE -->
		<meta name="apple-mobile-web-app-capable" content="yes" />


		<!-- META TAGS GERAL -->
		<meta name="title" content="LucasATS">
		<meta name="description" content={description}>
		<meta name="keywords" content="Sonho Real Store, loja, store, Sonho, LucasATS">
		<meta name="robots" content="index, follow">
		<meta name="language" content="Portuguese">
		<meta name="author" content="LucasATS">
		<meta name="thumbnail" content={thumbnail}>
	  

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="store">
		<meta property="og:url" content="https://sonhorealstore.vercel.app/">
		<meta property="og:title" content="LucasATS">
		<meta property="og:description" content={description}>
		<meta property="og:image" content={thumbnail}>


		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://sonhorealstore.vercel.app/">
		<meta property="twitter:title" content="LucasATS">
		<meta property="twitter:description" content={description}>
		<meta property="twitter:image" content={thumbnail}>


		<!-- PACOTE INTERNO -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/global.css" />

		<script is:inline src="/cookies.js"></script>
		<script is:inline src="/controle.js"></script>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<section>
			<article>
				<slot />
			</article>
		</section>

		<Cart client:only />

		<footer>
			<section class="footer-content">
				<p>
					Esse site é apenas uma demonstração de loja. Consulte o
					<a href="https://github.com/LucasATS/SonhoRealStore"
						>GitHub do projeto</a
					>.
				</p>
				<p>
					Utilizamos cookies de terceiros para melhorar a experiência
				</p>
			</section>
			<div>&copy; 2024 Sonho Real Store | Desenvolvido por LucasATS</div>
		</footer>
	</body>
</html>
